<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= javascript_include_tag 'deadline_script' %>
        <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" %>
        <div class="navbar">
            <a href="/deadlines">Prazos</a>
            <a class="active" href="/deadlines/new">Novo Prazo</a>
            <%= link_to "Desconectar", destroy_user_session_path, method: :delete, class: 'exit' %>
        </div>
    </head>

    <% if user_signed_in? %> 

    <div> 

        Bem vindo, <%= current_user.email %>!
        
    </div> 

    <body>
        
        <header>
            <h2>Contador prazos</h2>

        </header>


        <section>

            <h3>
                Informações do Prazo
            </h3>

            <div class="Form-group">

                <p>Número da Pasta:

                    <input type="number" name="briefcase_number" id="briefcase_number">

                </p>

                <p>Descrição:

                    <input type="text" name="description" id="description">

                </p>

                <p>Prazo Fatal:

                    <input type="number" name="maximum_days" id="maximum_days" min="1">

                </p>

                <p>Dias:

                    <input type="radio" name="deadline_type" id="corridos" checked>
                    <label for="corridos">Corridos</label>

                    <input type="radio" name="deadline_type" id="uteis">
                    <label for="uteis">Úteis</label>

                </p>

                <p>Data Publicação:

                    <input type="date" name="initial_date" id="initial_date">

                </p>

                <p>
                    <input 
                    type="button" 
                    value="Gerar prazo" 
                    onclick="calculateDeadline(
                        document.getElementById('initial_date').value, 
                        document.getElementById('maximum_days').value,
                        document.getElementsByName('deadline_type')
                    )">

                </p>

                <p>
                    <input 
                    type="button" 
                    value="Gravar" 
                    onclick="saveDeadline()">

                </p>


            </div>

            <div id="res">

            </div>

        </section>

        <div>

            <%= button_to "Desconectar", destroy_user_session_path, method: :delete %>

        </div>


        <footer>

            <p>&copy; Wesley Andrade</p>

        </footer>

    </body>

</html>

<% else %>

    <body>

        <header>
        
            <h2>Tela inicial</h2>

        </header>

        <section>
            
            <p>

                Seja bem vindo ao <strong>Contador de Prazo!<strong>

            </p>

            <%= button_to "Fazer Login", new_user_session_path %> 

        </section>

    </body>

<% end %>

